# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build output
build/

# Android
android/.gradle/
android/app/*.keystore
android/app/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.xcuserstate

# VSCode / JetBrains
.idea/
.vscode/
*.iml

# Others
*.lock
